/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.css
/public/css/template.css
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.DS_Store
composer.lock
